body, html{
  height: 100%;
  margin: 0;
  font-size: 18px;
  font-family: "Times", sans-serif;
  font-weight: 400;
  line-height: 1.5em;
background-image: url('./img/roots.jpg');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
color: blue;
}
.container{
  width:80%;
  margin: auto;
  overflow: hidden;
}

header {
 text-decoration: none;
padding-top: 30px;
min-height: 70px;
border-bottom: 3px solid;
font-size: 16px;
}

header ul{
  float: right;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  color: blue;
}

header #branding{
  float: left;
}
header #branding h1{
  margin: 0 ;
}
 header .highlight, header .current a{
   color: Blue;
   font-weight: bold;
 }

 header a:hover{
   color: #cccccc;
   font-weight: bold;
 }

#newsletter{
  padding: 15px;
  color: #fff;
  background: blue;
}

#newsletter h1{
  float: left;
}

#newsletter form{
  float: right;
  margin-top: 20px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}
.button{
  height: 37px;
  border: 0;
}


footer{
  padding: 20px;
  color:grey;
  background-color: Blue;
  text-align: center;
}
